.modal {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background-color: $darkBlue;
  background-image: url(./../images/dist/bg/bg-gray.png);
  background-position: center center;
  color: #08cfda;
  // .modal__bg

  &__overlay {
    position: absolute;
    top: 0;
    left: 3px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./../images/dist/bg/bg-green.png);
    background-position: center center;
    width: 100%;
    min-height: 100%;
    transition: all 0.1s ease;
    z-index: 100;
    padding: 0 15px;
    perspective: 500px;
    @include media-breakpoint-down(lg) {
      background-attachment: fixed;
    }
  }
  &__container {
    background-color: rgba(#fff, 0.8);
    padding-top: 28px;
    padding-bottom: 28px;
    @include adaptiv-value("padding-right", 48, 15, 1);
    @include adaptiv-value("padding-left", 48, 15, 1);
    position: relative;
    max-width: 720px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transform-style: flat;
    @include media-breakpoint-down(lg) {
      transform-style: flat;
      transform: translate(0) !important;
      margin: 20px 0;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 4px solid rgba(#fff, 0.8);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
      pointer-events: none;
    }
    &::before {
      transform: translateZ(4px);
    }
    &::after {
      transform: translateZ(8px);
    }
  }
  &__header-logo {
    align-self: flex-start;
    margin-bottom: 12px;
    @include adaptiv-value("width", 170, 130, 1);
  }
  &__wrapper {
    width: 100%;
    z-index: 0;
    position: relative;
    nav {
      position: relative;
      display: flex;
      align-items: center;
      border-top: 1px solid darken($darkBlue, 3%);
      margin-bottom: 20px;
      box-shadow: 0 3px 6px #00000029;
      label {
        display: block;
        width: 50%;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        z-index: 1;
        color: darken($darkBlue, 3%);
        background: rgba($darkBlue, 0.2);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        transition: all 0.3s ease;
        user-select: none;
        @media (any-hover: hover) {
          &:hover {
            background: rgba($darkBlue, 0.3);
          }
        }
      }
      .slider {
        position: absolute;
        height: 100%;
        width: 50%;
        left: 0;
        bottom: 0;
        z-index: 0;
        background: darken($color: $darkBlue, $amount: 3%);
        transition: all 0.3s ease;
      }
    }
  }
  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 20px;
    color: $darkBlue;
    font-size: 16px;
    @include adaptiv-value("font-size", 16, 14, 1);
    font-weight: 500;
    span {
      font-weight: 700;
    }
  }

  #form-sign-up:checked ~ nav label.form-sign-up,
  #form-sign-in:checked ~ nav label.form-sign-in {
    color: #fff;
  }

  input[type="radio"] {
    display: none;
  }
  #form-sign-in:checked ~ nav .slider {
    left: 50%;
  }

  &__form {
    display: none;
    background-color: transparent;
  }
  #form-sign-up:checked ~ &__content .form-sign-up,
  #form-sign-in:checked ~ &__content .form-sign-in {
    display: block;
  }

  // .modal__form-header

  &__form-header {
    display: flex;
    margin-bottom: 35px;
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
  }
  &__form-items {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    min-height: 140px;
    &.text {
      justify-content: flex-end;
      padding-right: 15px;
      p {
        font-size: 10px;
        color: #bababa;
        margin: 0;
        margin-bottom: 10px;
      }
    }
    @include media-breakpoint-down(sm) {
      flex: 1 1 100%;
      &.text {
        display: none;
      }
    }
  }

  &__form-item {
    display: flex;
    margin-bottom: 13px;
    align-items: flex-start;
    label {
      flex: 0 0 75px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
      margin-top: 3px;
      margin-right: 19px;
    }
    input {
      flex: 1 1 auto;
      &:active {
        color: #2980b9;
      }
      &:focus {
        color: #444444;
      }
    }
    select {
      @extend input;
      color: #393939;
      border-bottom: none;
      flex: 0 0 120px;
    }

    textarea {
      margin: 0;
      width: 100%;
      padding: 5px;
    }
  }

  // .modal__form-footer

  &__form-footer {
    display: flex;
    border-top: 1px solid #bababa;
    padding-top: 25px;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .modal__form-these-terms

  &__form-these-terms {
    flex: 1 1 50%;
    font-size: 10px;
    font-weight: 500;
    color: #bababa;
    padding-right: 10px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      text-align: center;
    }
    a {
      color: #bababa;
      transition: color 0.2s ease-in-out;
      @media (any-hover: hover) {
        &:hover {
          color: darken($color: $darkBlue, $amount: 3%);
        }
      }
    }
  }

  // .modal__form-buttons

  &__form-buttons {
    position: relative;
    flex: 1 1 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
  }

  .button {
    @include media-breakpoint-down(sm) {
      &::before {
        margin-right: 20px;
      }
    }
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}
.micromodal-slide.is-open {
  display: block;
}
.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
