// USER VARIABLES SECTION
$maxWidthContainer: 1070;
$maxWidth: 1240;
$fontsize: 16px; // Body Font Size
$textcolor: #393939; // Text Color
$darkBlue: #06b2bb;
$red: #fa5456;
$white: #ffffff;
$boxShadow: #00000029;
$yellow: #fdd219;
$lineheight: 1.65; // Document Line Height
$userfont: Montserrat, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

//FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

// fontawesome icons
@import "fontawesome-scss/fontawesome.scss";
@import "fontawesome-scss/solid.scss";

//Адаптивное свойство
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //Только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    //Только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    //Всегда
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION
@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin

// GENERAL DOCUMENT STYLES
::placeholder {
  color: #666;
}

::selection {
  background-color: $darkBlue;
  color: #fff;
}

input,
textarea {
  outline: 0;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  font-weight: 500;
  color: $textcolor;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.page {
  flex: 1 1 100%;
}

.button {
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: transparent;
  text-decoration: none;
  border: 1px solid $white;
  border-radius: 20px;
  color: $white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out,
    color 0.3s ease-in-out;
  &::before {
    margin-right: 20px;
    font-size: 18px;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: lighten($yellow, 5%);
      border: 1px solid $yellow;
      color: #393939;
    }
  }

  &.blue {
    background-color: lighten($darkBlue, 5%);
    border: 1px solid darken($darkBlue, 2%);
  }

  &.red {
    background-color: darken($red, 5%);
    border: 1px solid $red;
    color: inherit;
    text-shadow: 1px 1px 3px rgba(#777777, 0.2);
    &:hover {
      color: $white;
    }
  }

  &.border-blue {
    border: 1px solid darken($darkBlue, 2%);
    color: darken($darkBlue, 2%);
    @media (any-hover: hover) {
      &:hover {
        border: 1px solid $yellow;
        color: inherit;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    span {
      display: none;
    }

    &::before {
      margin-right: 0;
    }
  }
}

.info-link {
  font-size: 16px;
  a {
    font-weight: 800;
    color: #63b5b5;
    text-transform: uppercase;
    transition: 1.3s ease-in-out;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.icon-chevron-double:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-chevron-right);
}
.icon-chevron-down:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-chevron-down);
}
.icon-comments:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-comments);
}
.icon-dog:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-dog);
}
.icon-home:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-home);
}
.icon-hotel:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-hotel);
}
.icon-hotel-v:before {
  content: "\e906";
}
.icon-map-marker:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-map-marker);
}
.icon-paw:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-paw);
}
.icon-pencil-alt:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-pencil-alt);
}
.icon-plus:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-plus);
}
.icon-save:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-save);
}
.icon-search:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-search);
}
.icon-sign-out-alt:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-sign-out-alt);
}
.icon-stethoscope:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-stethoscope);
}
.icon-thumbs-up:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-thumbs-up);
}
.icon-times:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-times);
}
.icon-walking:before {
  @extend %fa-icon;
  @extend .fas;
  content: fa-content($fa-var-walking);
}
