@import "./config";
@import "./blocks/home-content.scss";
@import "./blocks/pets-cards.scss";
@import "./blocks/home.scss";
@import "./blocks/index.scss";
@import "./blocks/lost-page-form.scss";
@import "./blocks/menu-burger.scss";
@import "./blocks/my-profile.scss";
// @import "./blocks/sign-up-form.scss";
// @import "./blocks/select.scss";
@import "./blocks/input.scss";
@import "./blocks/footer.scss";
@import "./blocks/header.scss";
@import "./blocks/pets-cards.scss";
@import "./blocks/signUpIn.scss";


