body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #bababa;
}

textarea {
  padding: 14px;
  margin-bottom: 25px;
  border: 1px solid #1cb1ba;
  resize: none;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  min-width: 100%;
  /* min-height: 100%; */
}

.header-white {
  height: 47px;
  padding-left: 151px;
  padding-top: 23.88px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.nav-wrapper,
.user-wrapper {
  width: 307px;
  background-color: #06b2bbcc;
  color: #ffffff;
}

.nav-inner-wrapper {
  margin-left: 153px;
  margin-top: 32px;
}

.user-inner-wrapper {
  margin-top: 32px;
  margin-left: 30px;
}

.center-wrapper {
  margin: 0 auto;
}

.small-title {
  margin-top: 30px;
  height: 19px;
  color: #06b2bb;
  opacity: 1;
  font-weight: 700;
}

.border-bottom {
  margin-top: 7px;
  margin-bottom: 19px;
  height: 0px;
  border: 1px solid #707070;
}

.label-post {
  font-size: 12px;
  color: #393939;
  font-weight: 600;
}

.form-post {
  display: flex;
  flex-direction: column;
}

.under-label {
  font-size: 10px;
  color: #06b2bb9a;
}

.input-post {
  padding: 10px;
  margin-bottom: 11px;
  border: 1px solid #1cb1ba;
}

.btn {
  width: 148px;
  height: 34px;
  border-radius: 17px;
}

.btn-green {
  color: #ffffff;
  background-color: #06b2bbcc;
  border: 1px solid #1cb1ba;
}

.user-name-green {
  font-size: 16px;
  color: #06b2bb9a;
  font-weight: 600;
  padding: 13px;
}

.bottom-post {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.user-group {
  display: flex;
}

.ul-nav-top > li {
  margin-bottom: 24px;
}
